body{
    background:#f5f5f5;
    margin:0;
    font-family: "微软雅黑";
}
#center{
    width: 100%;
}
#info{
    /*border:2px solid #000;*/
    width: 100%;
    height: 100px;
    background-color: #8DD556;
    background-size: auto 100px;
    font-family: "微软雅黑";
}
#infofontlast{
    text-align: center;
    line-height: 80px;
    font-size: 16px;
    font-weight: bold;
    color:white;
}
#balance1{
    position: relative;
    top: -30px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
#otherbalance{
    display: inline-block;
    width: 100%;
    height: 40px;
    background-color: rgba(101, 190, 80, 0.93);
}
#addmoney{
    display: inline-block;
    text-align: center;
    line-height: 40px;
    width: 49%;
    height: 40px;
    color: white;
}
#sharemoney{
    display: inline-block;
    text-align: center;
    line-height: 40px;
    width: 49%;
    height: 40px;
    color: white;
}
.middle{
    background-color: white;
    overflow: hidden;
}
#alltitle{
    margin-top: 5px;
    height: 85px;
}


.sometitle1{
    display: inline-block;
    height: 80px;
    width: 32%;
    overflow: hidden;
}
.somefont{
    text-align: center;
}
.titles{
    line-height: 30px;
    height: 30px;
    text-align: center;
}
.middleinfos{
    line-height: 50px;
    overflow: hidden;
}
.title{
    color:#888888;
    font-family: "微软雅黑";
    padding-left: 20px;
    float: left;
}
a{
    color: black;
}
a:active{
    color: black;
}
