@model IList<string>

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
        南益名士会  会员招募
        报 名 表
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="robots" content="noindex" />
    <meta name="robots" content="noarchive" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="renderer" content="webkit" />

    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="theme-color" content="#267DC5" />
    <link rel="stylesheet" type="text/css" href="~/Content/vip_content/reset.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/vip_content/error.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/vip_content/formGlobal.css" />
    <!-- <link rel="stylesheet" id="formStyleSheet" type="text/css" href="form/css/form.css"/> -->
    <link rel="stylesheet" type="text/css" href="~/Content/vip_content/cpCalendar.css" />
    <link href="~/Content/assets/css/jquery.datetimepicker.min.css" rel="stylesheet" />
    <script type="text/javascript">
        //Todo: JS is here
        var _VER = "180410";
        var _T = "mwLKofa";
        var IN_WECHAT = false;
        var JHR = 0;
        var VST = { "ipLocI": 1, "ipLocII": 1943, "ipLocIII": 1968, "mpLoc": { "1": { "1": "中国", "2": "中國", "3": "China", "4": "China", "5": "الصين", "6": "Chine", "7": "China", "8": "Cina", "9": "中国", "10": "중국", "11": "Китай" }, "1943": { "1": "广东", "3": "Guangdong" }, "1968": { "1": "深圳", "3": "Shenzhen" } }, "lang": 1 };
        var _LFP = -0.31;
        var _SLD = "cn";
        var _CL_SLD = "cn";
    </script>
    <link rel="stylesheet" type="text/css" href="~/Content/vip_content/formMobile.css" media="all" />
    <style>
        @@media screen and (min-width:770px) {

            .main {
                width: 640px;
            }
        }
        div,  li,  p,  ul {
            word-break: unset;
            word-wrap: unset;
        }
        li input[type=radio] {
            padding-top:5px;
            
            transform: scale(1.5,1.5)
        }

        .radio label {
            padding-left:4px;
            line-height: 1.6;
            font-size: 15px;
            font-weight: normal;
            color: #8B0201;
        }
    </style>
</head>
<body class="cn mac sld_cn" style="background-color: rgb(39, 174, 96);">
    <!--<![endif]-->
    <noscript>
        &lt;div class=&quot;noscriptHint&quot;&gt; &lt;p class=&quot;nh_content&quot;&gt;请复制下列链接在浏览器中打开填写表单&lt;/p&gt; &lt;div class=&quot;nh_link&quot;&gt;&lt;span&gt;http://cn.mikecrm.com/mwLKofa&lt;/span&gt;&lt;/div&gt; &lt;/div&gt;
    </noscript>
    <form class="handleForm" method="post" enctype="multipart/form-data">
        <div class="wrapper">
            <div class="main">
                <div class="header" style="background-color: rgb(15, 95, 54); height: auto; min-height: 66px;">
                    <div class="fb_headerInfo" style="padding-top:0px" tabindex="1">
                        <div class="h_headline" style="text-align:center;font-size:24px;color:#FFFFFF;white-space:unset;">
                            <p>南益名士会 会员招募</p>
                            <p>报 名 表</p>
                        </div>
                        <div class="clearB"></div>
                    </div>
                </div>
                <div class="body" style="background-color: rgb(235, 253, 238);">
                    <div data-reactid=".0">
                        <div class="fb_componentWrapper" data-reactid=".0.0">
                            <div class="fb_component fb_staticComponent staticPic" id="200362294" style="padding-top:5px;padding-bottom:5px;" >
                                <div class="fbc_pictureWrapper images-1 layout-1" style="padding-left: 10px; padding-right: 10px;">
                                    <div class="fbc_pictureImage" >
                                        <div class="fbc_piWrapper" >
                                            <img src="~/Content/vip_content/picStatic_imgPlaceholder.png" class="fbc_piImg" style="cursor:default;"  />
                                        </div>
                                    </div>
                                    <div class="clearB"></div>
                                </div>
                                <p class="fbc_picDescribe" style="line-height:1.4;font-size:14px;font-weight:normal;color:#9D5453;" ><br  /></p>
                            </div>
                            <div class="fb_component fb_staticComponent separator"  >
                                <div class="fb_componentBorder" ></div>
                                <p class="fbc_title" style="line-height:1.5999999999999999;font-size:17px;font-weight:normal;color:#8B0201;" id="title200362295"><span><span >请您填写以下资料</span></span></p>
                                <hr class="fbc_separatorHr undefined" />
                            </div>
                            <div class="fb_component name" id="200362296" >
                                <div class="fb_componentText" >
                                    <p class="fbc_title" style="line-height:1.5999999999999999;font-size:17px;font-weight:normal;color:#8B0201;" id="title200362296" ><span ><span >姓名：</span></span><span class="fbc_required" tabindex="-1" aria-label="(必填)" >*</span><span></span></p>
                                </div>
                                <div class="fb_componentBody" data-reactid=".0.0.0:$c200362296.1">
                                    <div class="fbc_content fbc_widthCp" style="width:100%;" data-reactid=".0.0.0:$c200362296.1.0">
                                        <span class="aria-placeholder" id="placehoder200362296" aria-label="." data-reactid=".0.0.0:$c200362296.1.0.0"></span>
                                        <div class="fbc_input has-icon" style="height:37px;line-height:1.4;font-size:14px;padding-left:22px;" data-reactid=".0.0.0:$c200362296.1.0.$name">
                                            <i class="iconfont fbi_icon" style="height:34px;line-height:34px;font-size:16px;color:rgba(45,143,217,0.6);" data-reactid=".0.0.0:$c200362296.1.0.$name.$ctIcon"></i>
                                            <input class="fbi_input aria-content" tabindex="1" name="name" type="text" spellcheck="false" aria-labelledby="title200362296 subtitle200362296 placehoder200362296" value="" style="font-size:14px;line-height:1.4;" autocomplete="off"  />
                                        </div>
                                        <div class="clearB"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="fb_component inputMulti" id="200362298" >
                                <div class="fb_componentText" data-reactid=".0.0.0:$c200362298.0">
                                    <p class="fbc_title" style="line-height:1.5999999999999999;font-size:17px;font-weight:normal;color:#8B0201;" id="title200362298" data-reactid=".0.0.0:$c200362298.0.0"><span data-reactid=".0.0.0:$c200362298.0.0.1:$block0"><span data-reactid=".0.0.0:$c200362298.0.0.1:$block0.0">手机：</span></span><span class="fbc_required" tabindex="-1" aria-label="(必填)" data-reactid=".0.0.0:$c200362298.0.0.2">*</span><span data-reactid=".0.0.0:$c200362298.0.0.3"></span></p>
                                </div>
                                <div class="fb_componentBody" data-reactid=".0.0.0:$c200362298.1">
                                    <div class="fbc_content fbc_widthCp" style="width:100%;" data-reactid=".0.0.0:$c200362298.1.0">
                                        <span class="aria-placeholder" id="placehoder200362298" aria-label="."></span>
                                        <div class="fbc_imItem" >
                                            <div class="fbc_input has-icon" style="height:37px;line-height:1.4;font-size:14px;padding-left:22px;" >
                                                <i class="iconfont fbi_icon" style="height:34px;line-height:34px;font-size:16px;color:rgba(45,143,217,0.6);"></i>
                                                <input class="fbi_input aria-content" id="mobileTel" tabindex="1" type="tel" spellcheck="false" autocomplete="off" aria-labelledby="title200362298 subtitle200362298 hint200362298 placehoder200362298" value="" style="font-size:14px;line-height:1.4;"  />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="fb_component gender" id="200362297">
                                <div class="fb_componentText" >
                                    <p class="fbc_title" style="line-height:1.5999999999999999;font-size:17px;font-weight:normal;color:#8B0201;" id="title200362297" ><span><span>性别：</span></span><span class="fbc_required" tabindex="-1" aria-label="(必填)">*</span></p>
                                </div>
                                <div class="fb_componentBody" >
                                    <ul class="fbc_content aria-content layout-2 radio" role="radiogroup" style="margin-left: 10px" tabindex="1">
                                        <li class="fbc_optionsLi aria-content clearB">
                                            <input type="radio" name="sex" value='男' /><label>先生</label>
                                        </li>
                                        <li class="fbc_optionsLi aria-content">
                                            <input type="radio" name="sex" value='女' /><label>女士</label>
                                        </li>
                                      
                                    </ul>
                                </div>
                                <div class="clearB"></div>
                            </div>
                            <div class="fb_component birthDate" id="200362332" data-reactid=".0.0.0:$c200362332">
                                <p class="fbc_title" style="line-height:1.5999999999999999;font-size:17px;font-weight:normal;color:#8B0201;"><span><span>生日（出生年月）：</span></span><span class="fbc_required" tabindex="-1" aria-label="(必填)">*</span></p>
                                <div class="fbc_content" style="width:100%;" >
                

                                    <input type="text" id="birthDate_picker" style="padding:6px 5px;width: 96%" class="fbi_input aria-content" placeholder="格式yyyy-mm-dd，如1988-01-30" @*onfocus="this.blur();"*@ />
                                    <div class="clearB" ></div>
                                </div>
                            </div>
                            <div class="fb_component address" id="200362333" >
                                <p class="fbc_title" style="line-height:1.5999999999999999;font-size:17px;font-weight:normal;color:#8B0201;" id="title200362333" ><span><span>地址：</span></span><span class="fbc_required" tabindex="-1" aria-label="(必填)" data-reactid=".0.0.0:$c200362333.0.2">*</span><span data-reactid=".0.0.0:$c200362333.0.3"></span></p>
                                <div class="fbc_mlContent fbc_widthCp" >
                                    <div class="fbc_locItem fbc_select hasValue country" >
                                        <p class="fbc_selectValue hasImage" >🇨🇳  中国</p>
                                    </div>
                                    <div class="fbc_locItem fbc_select hasValue" >
                                        <i class="iconfont fbc_selectArrow" style="line-height:37px;" ></i>
                                        <select class="fbc_innerSelect province" style="height:37px;line-height:1.4;font-size:14px;" ><option value="" >请选择</option></select>
                                    </div>
                                    <div class="fbc_locItem fbc_select" >
                                        <i class="iconfont fbc_selectArrow" style="line-height:37px;" ></i>
                                        <select class="fbc_innerSelect city" style="height:37px;line-height:1.4;font-size:14px;" ><option value="" >请选择</option></select>
                                    </div>
                                    <div class="fbc_locItem fbc_input address" style="height:37px;line-height:1.4;font-size:14px;" >
                                        <span class="fbi_placeholder" style="left:0;" ></span>
                                        <input class="fbi_input aria-content" name="address" placeholder="详细地址" tabindex="0" type="text" spellcheck="false" value="" style="font-size:14px;line-height:1.4;" autocomplete="off"  />
                                    </div>
                                    <div class="fbc_locItem fbc_input zipCode" style="height:37px;line-height:1.4;font-size:14px;" >
                                        <span class="fbi_placeholder" style="left:0;"></span>
                                        <input class="fbi_input aria-content" tabindex="0" placeholder="邮编" name="postCode" type="text" spellcheck="false" value="" style="font-size:14px;line-height:1.4;" autocomplete="off"/>
                                    </div>
                                    <div class="clearB"></div>
                                </div>
                            </div>
                            <div class="fb_component company" id="201324665" >
                                <div class="fb_componentText">
                                    <p class="fbc_title" style="line-height:1.5999999999999999;font-size:17px;font-weight:normal;color:#8B0201;" id="title201324665" ><span><span >兴趣爱好：</span></span><span class="fbc_required" tabindex="-1" aria-label="(必填)">*</span></p>
                                </div>
                                <div class="fb_componentBody" >
                                    <div class="fbc_content fbc_widthCp" style="width:100%;" >
                                        <span class="aria-placeholder" id="placehoder201324665" aria-label="." ></span>
                                        <div class="fbc_input has-icon" style="height:37px;line-height:1.4;font-size:14px;padding-left:22px;">
                                            <i class="iconfont fbi_icon" style="height:34px;line-height:34px;font-size:16px;color:rgba(45,143,217,0.6);" ></i>
                                            <input class="fbi_input aria-content" name="Xqah" tabindex="1" aria-labelledby="title201324665 subtitle201324665 tips201324665 placehoder201324665" aria-required="1" type="text" spellcheck="false" autocomplete="off" value="" style="font-size:14px;line-height:1.4;"  />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="fb_component radio">
                                <div class="fb_componentText" >
                                    <p class="fbc_title" style="line-height:1.5999999999999999;font-size:17px;font-weight:normal;color:#8B0201;" id="title201325194" ><span>职业：</span></p>
                                </div>
                                <div class="fbc_locItem fbc_select hasValue" >
                                    <i class="iconfont fbc_selectArrow" style="line-height:37px;" ></i>
                                    <select class="fbc_innerSelect" name="work" style="height:37px;line-height:1.4;font-size:14px;" >
                                        <option value="">请选择</option>
                                        <option value="党政军干部">党政军干部</option>
                                        <option value="国企、事业单位管理人员">国企、事业单位管理人员</option>
                                        <option value="国企、事业单位职员">国企、事业单位职员</option>
                                        <option value="私营业主">私营业主</option>
                                        <option value="公司高管">公司高管</option>
                                        <option value="公司职员">公司职员</option>
                                        <option value="医生">医生</option>
                                        <option value="律师">律师</option>
                                        <option value="退休人员">退休人员</option>
                                        <option value="农民">农民</option>
                                        <option value="企业、公司老板/合伙人/股东">企业、公司老板/合伙人/股东</option>
                                        <option value="公务员">公务员</option>
                                        <option value="军人">军人</option>
                                        <option value="家庭主妇">家庭主妇</option>
                                        <option value="自由职业">自由职业</option>
                                        <option value="学生">学生</option>
                                        <option value="其他">其他</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="fb_component radio">
                                <div class="fb_componentText" >
                                    <p class="fbc_title" style="line-height:1.5999999999999999;font-size:17px;font-weight:normal;color:#8B0201;" id="title201324662" ><span data-reactid=".0.0.0:$c201324662.0.0.1:$block0"><span >教育程度：</span></span></p>
                                </div>
                                
                                <div class="fbc_locItem fbc_select hasValue">
                                    <i class="iconfont fbc_selectArrow" style="line-height:37px;"></i>
                                    <select class="fbc_innerSelect" name="eduLevel" style="height:37px;line-height:1.4;font-size:14px;">
                                        <option value="">请选择</option>
                                        <option value="高中及以下">高中及以下</option>
                                        <option value="本科">本科</option>
                                        <option value="研究生及以上">研究生及以上</option>
                                        <option value="中专">中专</option>
                                        <option value="大专">大专</option>
                                        <option value="留学归来">留学归来</option>
                                        <option value="其他">其他</option>
                                        <option value="未知">未知</option>
                                    </select>
                                </div>

                            </div>

                            <div class="fb_component radio">
                                <div class="fb_componentText" data-reactid=".0.0.0:$c201324662.0">
                                    <p class="fbc_title" style="line-height:1.5999999999999999;font-size:17px;font-weight:normal;color:#8B0201;"><span>所属项目：</span></p>
                                </div>

                                <div class="fbc_locItem fbc_select hasValue">
                                    <i class="iconfont fbc_selectArrow" style="line-height:37px;"></i>
                                    <select class="fbc_innerSelect" id="projName" style="height:37px;line-height:1.4;font-size:14px;">
                                        <option value="">请选择</option>
                                        @if (Model != null)
                                        {
                                            foreach (var g in Model)
                                            {
                                                <option value="@g">@g</option>
                                            }
                                        }
                                     
                                    </select>
                                </div>

                            </div>

                            <div class="fb_component radio" id="201324586" >
                                <div class="fb_componentText" >
                                    <p class="fbc_title" style="line-height:1.5999999999999999;font-size:17px;font-weight:normal;color:#8B0201;" id="title201324586" data-reactid=".0.0.0:$c201324586.0.0"><span data-reactid=".0.0.0:$c201324586.0.0.1:$block0"><span data-reactid=".0.0.0:$c201324586.0.0.1:$block0.0">婚姻状况：</span></span><span data-reactid=".0.0.0:$c201324586.0.0.3"></span></p>
                                </div>
                                <div class="fb_componentBody" >
                                    <ul class="fbc_content aria-content layout-2 radio" role="radiogroup" style="margin-left: 10px" tabindex="1">
                                        <li class="fbc_optionsLi aria-content clearB" >
                                            <input type="radio" name="marriage" value='已婚' /><label>已婚</label>
                                        </li>
                                        <li class="fbc_optionsLi aria-content"  >
                                            <input type="radio" name="marriage" value='未婚' /><label>未婚</label>
                                        </li>
                                        <li class="fbc_optionsLi aria-content clearB" >
                                            <input type="radio" name="marriage" value='离异' /><label>离异</label>
                                        </li>
                                        <li class="fbc_optionsLi aria-content" >
                                            <input type="radio" name="marriage" value='丧偶' /><label>丧偶</label>
                                        </li>
                                       
                                    </ul>
                                </div>
                                <div class="clearB"></div>
                            </div>
                            <div class="fb_component radio" id="201324663" >
                                <div class="fb_componentText" >
                                    <p class="fbc_title" style="line-height:1.5999999999999999;font-size:17px;font-weight:normal;color:#8B0201;" id="title201324663"><span >家庭结构：</span></p>
                                </div>
                                <div class="fb_componentBody">
                                    <ul class="fbc_content aria-content layout-2 radio" role="radiogroup" style="margin-left: 10px" tabindex="1">
                                        <li class="fbc_optionsLi aria-content clearB">
                                            <input type="radio" name="family" value='单身贵族' /><label>单身贵族</label>

                                        </li>
                                        <li class="fbc_optionsLi aria-content">
                                            <input type="radio" name="family" value='二人世界' /><label>二人世界</label>
                                        </li>
                                        <li class="fbc_optionsLi aria-content clearB">
                                            <input type="radio" name="family" value='单亲家庭' /><label>单亲家庭</label>
                                        </li>
                                        <li class="fbc_optionsLi aria-content">
                                            <input type="radio" name="family" value='三口之家' /><label>三口之家</label>
                                        </li>
                                        <li class="fbc_optionsLi aria-content">
                                            <input type="radio" name="family" value='三代同堂' /><label>三代同堂</label>
                                        </li>
                                        <li class="fbc_optionsLi aria-content">
                                            <input type="radio" name="family" value='三代以上' /><label>三代以上</label>
                                        </li>
                                        <li class="fbc_optionsLi aria-content">
                                            <input type="radio" name="family" value='不详' /><label>不详</label>
                                        </li>
                                       
                                    </ul>
                                </div>

                                <div class="clearB"></div>
                            </div>

                            <div class="fb_component fb_staticComponent separator" >
                                <div class="fb_componentBorder" ></div>
                                <p class="fbc_title" style="line-height:1.5999999999999999;font-size:17px;font-weight:normal;color:#8B0201;" id="title200362301" ><span><br/>南益名士会理念：</span></p>
                                <hr class="fbc_separatorHr undefined" />
                                <p class="fbc_describe" style="line-height:1.4;font-size:14px;font-weight:normal;color:#9D5453;" id="subtitle200362301" >南益名士会是由南益地产发起，面向全国各地的南益业主、合作伙伴以及关心南益地产的社会各界朋友，提供专享服务的会员制俱乐部。 南益名士会以项目为契机，以服务为依托，为会员提供最新的经典楼盘信息，开展精彩纷呈的各种活动。南益名士会与业主及会员一起，共同构建健康的邻里关系，和谐的人文环境，实践“逾享.逸非凡”的生活理念。</></p>
                            </div>
                            <div class="clearB" ></div>
                        </div>
                        <noscript ></noscript>
                    </div>
                </div>
                <div class="submitWrapper">
                    <div data-reactid=".1">
                        <div class="submit" style="text-align:center;background-color:#EBFDEB;" aria-live="assertive" aria-relevant="text">
                            <a class="fb_submitBtn" tabindex="1" role="button" aria-disabled="false" onclick="save(this)" id="form_submit" style="width:100%;height:36px;padding-top:10px;padding-bottom:10px;padding-left:20px;padding-right:20px;font-weight:normal;background:#27AE60;">提交</a>
                            <div class="clearB" ></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="c_main" data-reactid=".2">
                    @*<a class="poweredBy" target="_blank" href="http://www.mikecrm.com/indexForm.php?ref=form" ><span class="poweredBy_logo poweredBy_light" data-reactid=".2.0.0"></span><span class="poweredBy_title" style="max-width: 540px; color: rgb(255, 255, 255);" ></span></a>*@
                </div>
            </div>
        </div>
    </form>
    <div class="popwin" id="popwin"></div>
    
    <script src="~/Content/assets/js/jquery.js"></script>
    
    <script src="~/Content/assets/js/region.js"></script>
    <script src="~/Content/assets/js/jquery.datetimepicker.full.min.js"></script>
    <script>
      

        function save(e) {

            var MemName = $("input[name='name']").val();

            if (MemName == null || MemName == '') {
                alert("姓名必须填写!");
                return;
            }

            var Gender = $("input[name='sex']:checked").val();

            var BuGuid = getUrlParam("buguid");

            var BirthDate = $("#birthDate_picker").val();

            var result = BirthDate.match(/((^((1[8-9]\d{2})|([2-9]\d{3}))(-)(10|12|0?[13578])(-)(3[01]|[12][0-9]|0?[1-9])$)|(^((1[8-9]\d{2})|([2-9]\d{3}))(-)(11|0?[469])(-)(30|[12][0-9]|0?[1-9])$)|(^((1[8-9]\d{2})|([2-9]\d{3}))(-)(0?2)(-)(2[0-8]|1[0-9]|0?[1-9])$)|(^([2468][048]00)(-)(0?2)(-)(29)$)|(^([3579][26]00)(-)(0?2)(-)(29)$)|(^([1][89][0][48])(-)(0?2)(-)(29)$)|(^([2-9][0-9][0][48])(-)(0?2)(-)(29)$)|(^([1][89][2468][048])(-)(0?2)(-)(29)$)|(^([2-9][0-9][2468][048])(-)(0?2)(-)(29)$)|(^([1][89][13579][26])(-)(0?2)(-)(29)$)|(^([2-9][0-9][13579][26])(-)(0?2)(-)(29)$))/);
            if (result == null) {
                alert("请输入正确的日期格式,例如输入：1988-01-30");
                return;
            }

            if (BirthDate == null || BirthDate == '') {
                alert("出生年月必须填写！");
                return;
            }

            var MobileTel = $("#mobileTel").val();
            if (MobileTel == null || MobileTel == '') {
                alert("手机号必须填写！");
                return;
            }

            var ProjName = $("#projName").val();
        
            var Province = $(".province").val();

            var City = $(".city").val();

            var Address = $("input[name='address']").val();

            var PostCode = $("input[name='postCode']").val();

            var Marriage = $("input[name='marriage']:checked").val();

            var Family = $("input[name='family']:checked").val();

            var EduLevel = $("select[name='eduLevel']").val();

            var Work = $("select[name='work']").val();

            //兴趣爱好
            var Xqah = $("input[name='Xqah']").val();

            $(e).prop("disabled", true);

            $.post("Sava", { MemName: MemName, Gender: Gender, BuGuid: BuGuid, BirthDate: BirthDate, MobileTel: MobileTel, ProjName: ProjName,Country:'中国', Province: Province, City: City, Address: Address, PostCode: PostCode, Marriage: Marriage, Family: Family, EduLevel: EduLevel, Work: Work, Xqah: Xqah}, function (result) {

                if (result !== null && result.success) {
                    alert("申请入会成功，我们会尽快审核。");
                    $(e).attr("disabled", false);
                    $("input[name='name']").val("");
                    $("#mobileTel").val("");
                    return;
                } else {
                    alert("申请入会失败，请联系我们的工作人员！");
                    $(e).attr("disabled", false);
                    return;
                }
            })
        }


        function getUrlParam(name) {
            //构造一个含有目标参数的正则表达式对象  
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            //匹配目标参数  
            var r = window.location.search.substr(1).match(reg);
            //返回参数值  
            if (r != null) return unescape(r[2]);
            return null;
        }
    </script>

    <div style="display:none;">
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1267984026'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1267984026' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
</body>
</html>