@model  Entity.WxUser

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Share</title>
</head>
<body>
    <h1>@Model.nickname</h1>
    <h1>@Model.openid</h1>
    <h1>@Model.ticket</h1>
    <div> 
    </div>
</body>
</html>
