
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WebBaseAuthorize</title>
</head>
<body>
    <div> 
        <h1>@ViewData["result"].ToString()</h1>
    </div>
</body>
</html>
